<a href="https://colab.research.google.com/github/munmoom/second_semester/blob/main/10_11_%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Coalitions based on daily intimate contact

Limits to the size of coalitions formed in such a way

Homo sapiens' ability to found and maintain large coalitions: the appearance of fiction

Common stories, religion, legal system, nation, etc.

The case of Peugeot: a 'legal fiction'

Stories that empower Homo sapiens by allowing strangers to cooperate

###Changing the stories in accordance with changing needs: cultural revolution to bypass genetic evolution

The ability to compose fiction: effective cooperation in large numbers

A graet awakening in Ioina 2,500 years ago: the universe is knowable with an internal order

Ionia's advantage as the crossroads of civilizations

Thales, Democritus, and many other Ionians: the intellectual effort to understand the universe

Pythagoras's orthodox world view as opposed to experimentation and open inquiry

The irony of the mercantile tradition: the cause of the Ionian awakening around 600 B.C. and of its decline some two centuries later

The Renaissance: the reawakening of the Ionian tradition

Quiz와 PUNOJ로 시험봄

Quiz와 실습, ppt가 시험자료

for, while  /  break, countinue(관련 퀴즈 저번에 나갔었음), 필요할 때만 사용

#functions 함수

반복되는 코드

smaller and modular chunck _ manageable

reusable 하다.

print(), input(), type()...

def function_name(): 는 필수.

optional: parameters, return expression

##순서가 중요하다(함수)

In [2]:
hello()

def hello():
  print('hello world')

hello world

In [3]:
def hello():
  print('hello world')

hello()

hello world

##return값이 없으면 결과값이 나오지 않음(None)

In [ ]:
def calc(x, y):
    sun_val = x*2 +y
    return sun_val

output = calc(3, 5)
print(output)

In [ ]:
def calc(x, y):
    sun_val = x*2 +y
    
output = calc(3, 5)
print(output)

In [ ]:
def hello(name):
    return 'hello' + name

print(hello('world'))

##list나 tple로 결과값 받을 수 있음

In [ ]:
def calc(a, b):
    v1 = a+b
    v2 = a-b
    return v1, v2

res1, res2 = calc(3,2)
print(res1, res2)

In [ ]:
def calc(a, b):
    v1 = a+b
    v2 = a-b
    return v1, v2

res = calc(3,2)
print(res)

##매개변수와 인수(parameters, arguments)

인수는 순서에 맞춰서(함수 호출 시 넣어주는 인수)

OR

Keyward argument는 뒤에것부터 채워져 있어야함, 앞은 그냥 인수여도 상관없는데

In [ ]:
def calc(x,y):
    sum_val = x*2 + y
    print(sum_val, 'x:', x, 'y:', y)

In [ ]:
calc(x=3, y=5)
calc(y=5, x=3)

In [ ]:
calc(3,5)
calc(5,3)

In [ ]:
calc(3, y=5)

In [ ]:
calc(x=3, 5)

Defalt parameter

미리 정해두는데 인수를 넣어 주면 그 인수대로 실행

미리 정해둔 건 무조건 뒤에 있어야됨

In [ ]:
def calc(x, y=50):
  sum_

Arbitrary arguments, *args


여러개를 받겠다

In [5]:
def my_function(*kids):
  print('The youngest child is' + kids[2])

my_function('E', 'T', "L")

The youngest child isL

In [ ]:
def my_function(**kids):

#call by value  vs  call by reference

(중요)시험나온다

넘겨준 값이 변경 불가능하면 전자, 가능하면 후자

(\t tap만큼 띄우라는 말, \n은?  줄바꿈)

In [13]:
print('bannana\napple')

bannana
apple

num은 값을 전달했고 함수 통과해도 값이 유지된다

In [8]:
def myFunc(a):
  print("\t Value received in 'a' = ", a)
  a+=2
  print("\t Value of 'a' changes to :", a)

num = 13
print("Initial number: ", num)
myFunc(num)
print("value of number= ", num)

Initial number:  13
	 Value received in 'a' =  13
	 Value of 'a' changes to : 15
value of number=  13

myList는 값을 전달했고 함수 통과하면 값이 달라진다

In [12]:
def myFunc(myList):
  print("List received: ", myList)
  myList.append(3)
  myList.extend([7,1])
  print("List after adding some elements:", myList)
  myList.remove(7)
  print("List within called function:", myList)

List1 = [1]
print("List before function call :", List1)
myFunc(List1)
print("List after function call: ", List1)

List before function call : [1]
List received:  [1]
List after adding some elements: [1, 3, 7, 1]
List within called function: [1, 3, 1]
List after function call:  [1, 3, 1]

In [15]:
def myFunc(myList):
  print("List received: ", myList)
  myList[0] = 3
  print("List after adding some elements:", myList)
  myList.remove(3)
  print("List within called function:", myList)

List1 = [1]
print("List before function call :", List1)
myFunc(List1)
print("List after function call: ", List1)

List before function call : [1]
List received:  [1]
List after adding some elements: [3]
List within called function: []
List after function call:  []

###num은 바뀌지 않았지만 list는 바뀌었다. mutable한지, immutable한지에 따라 다른 것.

In [16]:
li = [1,2,3,4,5]
li[4] = 1
print(li)

[1, 2, 3, 4, 1]

##Recursive function 재귀함수

함수 내에서 자기 자신을 또 부른다.

def recurse():

    recurse()

    끝나는 지점 명시가 중요

recurse

factorial

In [18]:
def factorial(x):
  '''This is a recursive function to find the ractorial of an integer'''

  if x  == 1:
    return 1
  else:
    return(x*factorial(x-1))

num = 5
print("The factorial of", num, "is", factorial(num))

The factorial of 5 is 120

##Variable Scope

크게 Globle, Local scope로 나뉜다

함수 안에서 쓰는 변수가 Local

In [20]:
def factorial(x):
  '''This is a recursive function to find the ractorial of an integer'''

  if x  == 1:
    return 1
  else:
    return(x*factorial(x-1))

print(x)

NameError: ignored

함수 밖에서 정의됨 Global

함수 안에서도 인식은 됨

In [21]:
x = 42
def myfunc():
  print(x)

myfunc()
print(x)

42
42

In [22]:
x = 42
def myfunc():
  x = 0     # Local선언했음, 얘가 우선, Global과는 별개
  print(x)

myfunc()
print(x)

0
42

In [23]:
x = 42
def myfunc():
  global x     # Global이라고 알려줌, Gobal 변수와 연결
  x = 0
  print(x)

myfunc()
print(x)

0
0