<a href="https://colab.research.google.com/github/munmoom/second_semester/blob/main/10_25_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#list

## list : **순서가 있는** 것들의 집합

##list 만들기:

a = []
a = list()
a = ['a']
a = [1,2,3]
a = ['a', 1,2,3]
a = [[1,2]]

리스트 안에 여러 자료형이 들어가기도 함

##list comprehensions

In [ ]:
new_list = [expression for member in iterable]

In [ ]:
new_list=[i**2 for i in range(10)]
new_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
for i in range(10):
  new_list.append(i**2)

## positive index  vs.  negative index

In [ ]:
T = [1,2,3,4,5,6,7,8,9]
print(T[-1], T[-2], T[1], T[2])

9 8 2 3

In [ ]:
T = ['p', 'y' ,'t', 'h','o','n']
print(T[-1], T[-2], T[1], T[2])

n o y t

## List Slicing


list[start:stop+1:step]

In [ ]:
T = [1,2,3,4,5,6,7,8,9]
print(T[1:8:3])

T = ['p', 'y' ,'t', 'h','o','n']
print(T[1:5:2])
print(T[::-2])
print(T[-6::])
print(T[::5])
print(T[:3:2])
print(T[1::])
print(T[-1::])   # 뒤집기 기능을 함, 중요!!!
print(T[:5:2])

[2, 5, 8]
['y', 'h']
['n', 'h', 'y']
['p', 'y', 't', 'h', 'o', 'n']
['p', 'n']
['p', 't']
['y', 't', 'h', 'o', 'n']
['n']
['p', 't', 'o']

In [ ]:
T = ['p', 'y' ,'t', 'h','o','n']

T[1] = '-'
print(T)

T.append('ㅠ')
print(T)

T.extend([0,0])   # + 하는것과 비슷한 기능
print(T)

T.append([1,2])
print(T)

T+= ['c','d','f']
print(T)

T[6:] = ['*']*6   # 6번째부터 끝까지를 교체
print(T)

['p', '-', 't', 'h', 'o', 'n']
['p', '-', 't', 'h', 'o', 'n', 'ㅠ']
['p', '-', 't', 'h', 'o', 'n', 'ㅠ', 0, 0]
['p', '-', 't', 'h', 'o', 'n', 'ㅠ', 0, 0, [1, 2]]
['p', '-', 't', 'h', 'o', 'n', 'ㅠ', 0, 0, [1, 2], 'c', 'd', 'f']
['p', '-', 't', 'h', 'o', 'n', '*', '*', '*', '*', '*', '*']

In [ ]:
T = ['p', 'y' ,'t', 'h','o','n']

T.remove('p')
print(T)

print(T.pop(1))  # pop은 인덱스 받음
print(T)

print(T.pop())  # 마지막 원소 반환, 삭제
print(T)

T.clear()  # 안에 있는 원소들 모두 삭제
print(T)

['y', 't', 'h', 'o', 'n']
t
['y', 'h', 'o', 'n']
n
['y', 'h', 'o']
[]

In [ ]:
T = [1,2,3,4,5,6,7,8,9]

del T[0]
print(T)

del T[2:4]
print(T)

#del T[]
#print(T)

del T[:]
print(T)

try:
  del T
  print(T)
except:
  print("name 'T' is not defined")

[2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 6, 7, 8, 9]
[]
name 'T' is not defined

## 이차원 리스트

In [ ]:
s = [
    [1,2,3,4,5],
    [6,7,8,9,10],
    [11,12,13,14,15]
]

print(s)
print(s[0][3])

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]
4

In [ ]:
# 6이랑 11 같이뽑기?
print([s[i][0] for i in range(1,3)])

# 안되는거
print(s[1:3:][0])

[6, 11]
[6, 7, 8, 9, 10]

In [ ]:
s = [[5*j+i+1 for i in range(5)] for j in range(3)]
print(s)
print(s[1])  # 행만 지칭한다(하나만 있으면)
print(s[1:])
print(s[1][0])
print(s[2][3:])
print(s[0][::-1])

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]
[6, 7, 8, 9, 10]
[[6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]
6
[14, 15]
[5, 4, 3, 2, 1]

## assignment vs. shallow copy vs. deep copy

1차원

In [ ]:
a = [1,2,3]
b = a
print(id(a), id(b))
b[0] = 5
print(a,b)

a = [1,2,3]
b = a.copy()
print(id(a), id(b))
b[0] = 5
print(a,b)

from copy import deepcopy
a = [1,2,3]
b = deepcopy(a)
print(id(a), id(b))
b[0] = 5
print(a,b)

139900169029264 139900169029264
[5, 2, 3] [5, 2, 3]
139900169907328 139900169489536
[1, 2, 3] [5, 2, 3]
139900169490096 139900169029264
[1, 2, 3] [5, 2, 3]

2차원

In [ ]:
a = [[1,2],[3,4]]
b = a
print(id(a), id(b), id(a[0]), id(b[0]))
b[0][0] = 5
print(a, b)

a = [[1,2],[3,4]]
b = a.copy()
print(id(a), id(b), id(a[0]), id(b[0]))   # 앞에 두개는 다른데 뒤에 두개 id가 같다
# 겉에는 달라지는데 안에는 달라지지 않아서 2차원 이상에서는 deepcopy쓰는게 안전
b[0][0] = 5
print(a, b)

from copy import deepcopy
a = [[1,2],[3,4]]
b = deepcopy(a)
print(id(a), id(b), id(a[0]), id(b[0]))
b[0][0] = 5
print(a, b)

139900169508976 139900169508976 139900169508736 139900169508736
[[5, 2], [3, 4]] [[5, 2], [3, 4]]
139900168818272 139900168974896 139900169507216 139900169507216
[[5, 2], [3, 4]] [[5, 2], [3, 4]]
139900169501984 139900169508976 139900168817312 139900168782544
[[1, 2], [3, 4]] [[5, 2], [3, 4]]

##List with Loop

In [ ]:
T = [28,31,33,35,27,26,25]

for i in range(len(T)):
  print(T[i], end=',')

print()

for ele in T:
  print(ele, end=',')

28,31,33,35,27,26,25,
28,31,33,35,27,26,25,

In [ ]:
values = [1, 3, 2, 5, 4, 6]

values.append(10)

values.pop()

values.insert(1,20)

del values[0:3]

values.sort(reverse = True)

print(values)

[6, 5, 4, 2]

In [ ]:
aList = [1,2,3,4]

aList[1:] = [5,6,7]

In [ ]:
value = [ 1, 2, 3, 4, 5, 6] 
value[-3:-1]

[4, 5]

In [ ]:
sum(value)

21