<a href="https://colab.research.google.com/github/munmoom/second_semester/blob/main/10_25_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#list

## list : **순서가 있는** 것들의 집합

##list 만들기:

a = []
a = list()
a = ['a']
a = [1,2,3]
a = ['a', 1,2,3]
a = [[1,2]]

리스트 안에 여러 자료형이 들어가기도 함

##list comprehensions

In [ ]:
new_list = [expression for member in iterable]

In [1]:
new_list=[i**2 for i in range(10)]
new_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
for i in range(10):
  new_list.append(i**2)

## positive index  vs.  negative index

In [2]:
T = [1,2,3,4,5,6,7,8,9]
print(T[-1], T[-2], T[1], T[2])

9 8 2 3

In [3]:
T = ['p', 'y' ,'t', 'h','o','n']
print(T[-1], T[-2], T[1], T[2])

n o y t

## List Slicing


list[start:stop+1:step]

In [22]:
T = [1,2,3,4,5,6,7,8,9]
print(T[1:8:3])

T = ['p', 'y' ,'t', 'h','o','n']
print(T[1:5:2])
print(T[::-2])
print(T[-6::])
print(T[::5])
print(T[:3:2])
print(T[1::])
print(T[-1::])   # 뒤집기 기능을 함, 중요!!!
print(T[:5:2])

[2, 5, 8]
['y', 'h']
['n', 'h', 'y']
['p', 'y', 't', 'h', 'o', 'n']
['p', 'n']
['p', 't']
['y', 't', 'h', 'o', 'n']
['n']
['p', 't', 'o']

In [23]:
T = ['p', 'y' ,'t', 'h','o','n']

T[1] = '-'
print(T)

T.append('ㅠ')
print(T)

T.extend([0,0])   # + 하는것과 비슷한 기능
print(T)

T.append([1,2])
print(T)

T+= ['c','d','f']
print(T)

T[6:] = ['*']*6   # 6번째부터 끝까지를 교체
print(T)

['p', '-', 't', 'h', 'o', 'n']
['p', '-', 't', 'h', 'o', 'n', 'ㅠ']
['p', '-', 't', 'h', 'o', 'n', 'ㅠ', 0, 0]
['p', '-', 't', 'h', 'o', 'n', 'ㅠ', 0, 0, [1, 2]]
['p', '-', 't', 'h', 'o', 'n', 'ㅠ', 0, 0, [1, 2], 'c', 'd', 'f']
['p', '-', 't', 'h', 'o', 'n', '*', '*', '*', '*', '*', '*']

In [24]:
T = ['p', 'y' ,'t', 'h','o','n']

T.remove('p')
print(T)

print(T.pop(1))  # pop은 인덱스 받음
print(T)

print(T.pop())  # 마지막 원소 반환, 삭제
print(T)

T.clear()
print(T)

['y', 't', 'h', 'o', 'n']
t
['y', 'h', 'o', 'n']
n
['y', 'h', 'o']
[]