<a href="https://colab.research.google.com/github/munmoom/second_semester/blob/main/10_4(%ED%99%94).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
message = "programming"
for i in message:
    print(i)
for i in range(len(message)):
  print(message[i])

fruits = ["apple", "bannana", "cherry"]
for i in fruits:
    print(i)
for i in range(len(fruits)):  #인덱스 이용
  print('fruit is', fruits[i])

nums = [1,2,3,4,5]
for i in nums:
    print(i)

p
r
o
g
r
a
m
m
i
n
g
p
r
o
g
r
a
m
m
i
n
g
apple
bannana
cherry
fruit is apple
fruit is bannana
fruit is cherry
1
2
3
4
5

In [ ]:
print(list(range(10)))

print(list(range(2,8)))

print(list(range(2, 20, 3)))

print(list(range(10, 0, -1)))  #10부터 1까지 9개

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7]
[2, 5, 8, 11, 14, 17]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
n = 0
while n<5:
  print(n)
  n+=1          #없으면 무한루프됨, 주의
print('end of while', n)

0
1
2
3
4
end of while 5

반복문 안에 반복문

In [ ]:
for i in range(5):
  for j in range(3):
    print('*', end = ' ')
  print()

* * *
* * *
* * *
* * *
* * *

In [ ]:
for i in range(5):
  for j in range(3):
    if j == 1:
      break   #break걸었을 때 빠져나오는
    print('*', end = ' ')
    print(j)
  print()

* 0

* 0

* 0

* 0

* 0

In [ ]:
i = 0

while i <5:
  j=0
  while j < 3:
    print('*', end=' ')
    j += 1
  i+= 1
  print()

* * *
* * *
* * *
* * *
* * *

break

In [ ]:
for val in "string":
  if val == 'i':
    break
  print(val)

print('The end')

s
t
r
The end

In [ ]:
while True:
 line = input("> ")
 if line == 'done':
   break
 print(line)
print('Done!')

> 1
1
> 2
2
> done
Done!

continue


continue 아래로는 수행하지 않음

In [ ]:
for val in "string":
  if val == 'i':
    continue
  print(val)

print('The end')

s
t
r
n
g
The end

In [ ]:
while True:
 line = input("> ")
 if line[0] == '#' :
    continue
 if line == 'done':
   break

 print(line)
print('Done!')

> wow
wow
> awsome
awsome
> #dissolved?
> regenerated
regenerated
> done
Done!

pass


아무것도 안 하는 걸 수행함

In [ ]:
def function(abc):
  pass

In [ ]:
# def function(abc):

#짝수 번째 원소들의 합을 구하라!

In [ ]:
nums = [1,2,3,4,5,6,7]

res = 0
a = 0
for i in nums:
  if a == 1:
    res += i
    a -= 1
  else:
    a += 1

print(res)

12

In [ ]:
sum = 0
for i in range(0,len(nums), 2):
  sum += nums[i]
  print(i,sum)

print('Final output:', sum)

0 0
2 2
4 6
6 12
Final output: 12

#코드 리뷰

과제3

In [ ]:
nums = [1,2,3]
print(nums[::-1])

[3, 2, 1]

In [ ]:
nums = [1,2,3]
nums.reverse()
print(nums)

[3, 2, 1]

In [ ]:
nums = [1,2,3]
rev_nums = list(reversed(nums))
print(rev_nums)

[3, 2, 1]

문자열로 바꿔서

In [ ]:
#하나는 리스트를 뒤집어서 문자열로 만들고
#하나는 그냥 문자열로 만들어서
#뒤집은 문자열을 조각조각 나누어서
#그냥 문자열에 같은 조각이 있는지 본다

가장 긴 길이를 먼저 시도

In [ ]:
for i in range(len(nums),0,-1):
  for j in range(len(nums)-i+1):
      if nums[j:i+j]==nums[j:i+j][::-1]:
      #

재귀함수


긴 건 안됨

In [ ]:
def 1p(nums):
  if nums == nums[::-1]:
    return len(nums)
  else:
    return max(#)

시간 줄이는 코드



펠린드롬 길이가 전체 리스트 길이의 반보다 크다면 그만둔다

내 코드에서

In [ ]:
if n == 1:
    return 1

if n == 2:      #수정됨, [5,5]같은 리스트를 처리 못했음(감점ㅠㅠ)
    if nums[0] == nums[1]:
      return 2
    else:
      return 1


#위와 같은 코드를 아래 코드로 대체가능하다

if nums == nums[::-1]:
  return len(nums)

오류찾기

In [ ]:
def longest_palindrome(nums):
  res_len = 0

#max길이를 찾지 않은 코드

빠르게 만들기

In [ ]:
#아까 문자열
def longest_palindrome(nums):
  leg_list = []

  rev_nums = nums[::-1]
  num_n = ''.join(map(str,nums))
  rev_n = ''.join(map(str,rev_nums))

  for i in range(len(nums)):
    for j in range(len(nums)+1):
     # xx = ''.join(map(str,nums[i:j]))
     xx = num_n[i:j]

     if xx in rev_n:
        leg_list.append(j-i)

  final = max(leg_list)
  return final

In [ ]:
nums=[1,2,3,4,5]
a = list(map(str,nums))
print(a)

a = ''.join(map(str,nums))
print(a)
type(a)

['1', '2', '3', '4', '5']
12345

str

테스트 케이스와 시간 측정

In [ ]:
import random

base = [1,2,3]
sample = random.choices(base, k = 10**3)
print(sample)

[1, 3, 1, 1, 2, 1, 2, 3, 1, 2, 3, 1, 1, 1, 1, 2, 1, 2, 2, 3, 1, 1, 3, 1, 1, 3, 1, 1, 3, 1, 2, 1, 3, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 3, 2, 3, 2, 2, 1, 2, 2, 1, 1, 2, 2, 3, 1, 3, 3, 2, 3, 2, 2, 1, 3, 1, 2, 3, 1, 3, 3, 2, 1, 1, 1, 1, 2, 2, 1, 3, 3, 1, 2, 3, 2, 3, 2, 3, 2, 1, 1, 1, 1, 3, 2, 1, 3, 2, 2, 1, 2, 3, 2, 1, 3, 2, 1, 1, 3, 2, 3, 1, 3, 2, 2, 3, 3, 3, 2, 1, 3, 3, 1, 1, 2, 2, 2, 2, 3, 1, 3, 3, 3, 3, 3, 1, 2, 3, 2, 2, 1, 3, 3, 1, 1, 1, 2, 3, 2, 1, 3, 3, 3, 3, 1, 2, 1, 1, 2, 3, 1, 3, 2, 1, 1, 3, 1, 2, 1, 1, 2, 3, 1, 2, 1, 2, 2, 1, 3, 1, 1, 3, 3, 1, 1, 1, 3, 3, 1, 3, 1, 1, 1, 1, 1, 1, 3, 2, 2, 1, 2, 1, 1, 2, 2, 3, 3, 3, 2, 2, 2, 3, 2, 1, 2, 2, 1, 2, 2, 3, 1, 3, 2, 1, 3, 1, 2, 2, 2, 2, 1, 2, 2, 1, 2, 3, 2, 1, 2, 3, 1, 1, 2, 2, 2, 3, 3, 1, 2, 1, 2, 1, 3, 3, 3, 2, 3, 1, 1, 2, 1, 2, 3, 1, 2, 1, 2, 2, 3, 2, 3, 3, 2, 2, 2, 1, 2, 2, 3, 3, 1, 3, 1, 1, 1, 2, 2, 2, 2, 3, 2, 2, 1, 1, 3, 3, 2, 3, 2, 1, 3, 2, 3, 2, 1, 3, 2, 3, 3, 3, 1, 3, 3, 1, 2, 2, 2, 2, 1, 2, 3, 3, 2, 3, 1, 1, 2, 1, 2, 2, 2, 1, 1, 1, 2, 3, 3, 1, 2, 3, 3, 3, 1, 1, 2, 1, 3, 3, 1, 2, 3, 3, 2, 1, 3, 3, 1, 1, 1, 2, 2, 3, 1, 1, 2, 2, 1, 3, 2, 3, 2, 3, 3, 1, 2, 1, 2, 1, 2, 2, 3, 2, 1, 2, 3, 1, 3, 1, 2, 1, 3, 1, 3, 1, 2, 2, 1, 3, 2, 1, 3, 3, 1, 1, 2, 2, 3, 1, 1, 1, 1, 1, 2, 1, 1, 3, 1, 3, 3, 3, 3, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 3, 1, 2, 3, 2, 1, 3, 2, 2, 3, 1, 2, 1, 2, 1, 3, 3, 1, 3, 1, 3, 3, 2, 1, 1, 3, 2, 1, 2, 2, 3, 2, 3, 3, 2, 3, 2, 2, 2, 3, 3, 1, 2, 2, 1, 3, 1, 3, 1, 1, 2, 3, 1, 3, 2, 1, 3, 3, 2, 1, 2, 2, 3, 3, 2, 3, 2, 3, 1, 2, 3, 1, 3, 3, 3, 2, 3, 3, 2, 3, 3, 3, 1, 3, 1, 2, 3, 1, 1, 2, 3, 3, 2, 1, 2, 2, 3, 3, 1, 3, 3, 2, 2, 2, 1, 1, 1, 2, 3, 1, 3, 3, 2, 2, 3, 2, 1, 2, 2, 2, 1, 3, 2, 2, 3, 3, 1, 2, 1, 2, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 1, 2, 3, 3, 3, 1, 3, 2, 3, 1, 3, 2, 3, 1, 1, 3, 1, 1, 1, 2, 3, 2, 2, 3, 3, 2, 2, 2, 1, 2, 3, 2, 1, 1, 1, 3, 1, 1, 3, 3, 2, 2, 3, 2, 1, 3, 3, 1, 3, 2, 3, 3, 2, 2, 2, 3, 2, 2, 1, 2, 2, 2, 3, 1, 3, 1, 1, 1, 3, 3, 1, 1, 2, 2, 1, 2, 3, 3, 3, 1, 2, 2, 2, 2, 2, 3, 1, 3, 3, 1, 2, 2, 1, 2, 3, 3, 3, 2, 3, 1, 1, 1, 3, 3, 1, 3, 1, 3, 3, 2, 1, 1, 3, 2, 2, 3, 1, 1, 3, 2, 3, 2, 2, 3, 1, 3, 2, 2, 2, 3, 2, 2, 3, 1, 2, 3, 2, 2, 2, 2, 2, 3, 2, 3, 3, 2, 3, 1, 3, 3, 1, 1, 3, 2, 1, 2, 3, 2, 2, 3, 3, 2, 2, 3, 3, 2, 2, 2, 1, 2, 2, 3, 1, 1, 1, 2, 3, 1, 2, 3, 2, 3, 1, 1, 2, 2, 3, 2, 1, 1, 2, 2, 3, 3, 3, 3, 1, 1, 1, 2, 1, 2, 2, 1, 1, 2, 1, 3, 3, 2, 1, 3, 1, 3, 1, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 3, 1, 3, 2, 3, 3, 1, 1, 3, 3, 1, 2, 3, 3, 1, 3, 1, 1, 3, 3, 1, 1, 1, 1, 2, 2, 1, 2, 1, 3, 2, 2, 1, 3, 1, 2, 2, 3, 2, 1, 2, 1, 2, 1, 3, 1, 1, 2, 2, 3, 3, 1, 1, 2, 2, 2, 2, 2, 1, 3, 3, 3, 2, 1, 3, 2, 3, 1, 2, 3, 3, 1, 2, 3, 2, 3, 2, 3, 2, 3, 2, 1, 1, 2, 2, 3, 2, 2, 1, 2, 3, 1, 1, 3, 3, 2, 2, 3, 1, 1, 3, 2, 3, 3, 1, 3, 3, 3, 2, 1, 3, 1, 1, 3, 3, 3, 3, 1, 3, 1, 3, 3, 2, 3, 1, 3, 2, 3, 1, 2, 3, 2, 2, 3, 2, 3, 3, 1, 2, 2, 1, 2, 1, 3, 2, 1, 2, 3, 2, 1, 2, 2, 2, 3, 2, 3, 2, 1, 1, 2, 1, 3, 1, 3, 1, 3, 2, 3, 3, 1, 2, 2, 2, 3, 3, 1, 3, 3, 2, 1, 1, 3, 3, 2, 3, 3, 1, 1, 3, 1, 2, 2, 1, 1, 2, 3, 3, 2, 1, 3]

In [ ]:
import time
def time_check():
  start_time = time.time()
  print(longest_palindrome(sample))
  end_time = time.time()
  print(end_time - start_time)

In [ ]:
time_check()

14
2.3336241245269775

In [12]:
n = 1234
sum = 0
while n>0:
  digit = n%10
  sum = sum + digit
  n = n // 10
print(sum)

10

In [14]:
sum = 0
for i in range(100):
  for j in range(100):
    for k in range(100):
      sum += 1

print(sum)

1000000

In [15]:
numbers = [10,20]
items = ['TV', 'Phone']

for x in numbers:
  for y in items:
    print(str(x) + y)

10TV
10Phone
20TV
20Phone

In [19]:
while False:
  print(1)

In [ ]:
for True:
  print(1)

In [20]:
for i in range(0,10,2):
  print(i, end=' ')

0 2 4 6 8

In [21]:
for i in range(1,10,3):
  print('hello')
  print(i)

hello
1
hello
4
hello
7

In [ ]:
i = 0
while i <10:
  print(i)

In [23]:
k = 0
for i in range(29):
  k+=1
print(k)

29

In [24]:
for x in range(10):
  if x > 5 : continue
  if x > 8 : break
  print(1)

1
1
1
1
1
1

In [25]:
print(list(range(1,12,2)))

[1, 3, 5, 7, 9, 11]