<a href="https://colab.research.google.com/github/munmoom/second_semester/blob/main/11_1_tuple_set_dic_%EA%B8%B0%EB%B3%B8%EB%AC%B8%EB%B2%95%EB%81%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

immutable : 수정이 불가하다

튜플 tuple
immutable한 것과 표현이 다르다는 것 빼고 리스트와 거의 비슷하다.

packing은 여러 ele을 하나의 변수명으로 포함하는 것
푸는 건 unpacking

In [5]:
a = 1,2,3, "123"    #괄호 없어도 된다
b = (1,2,3)

In [6]:
type(a)

tuple

In [7]:
q,w,e,r = a

In [8]:
print(q,w,e,r)

1 2 3 123

In [9]:
type(r)

str

In [10]:
type(q)

int

In [ ]:
a= (1)
type(a)    #ele이 1개일 때는 int

int

In [ ]:
a = (1,)
type(a)   #','찍어주면 tuple

tuple

In [ ]:
rest = (1,2,2,3)
rest[2] = 5    #immutable, error

TypeError: ignored

In [1]:
test = (1,2,2,3)
print(test[1])

2

In [2]:
test[0:2]

(1, 2)

In [3]:
test+(5,2)

(1, 2, 2, 3, 5, 2)

In [4]:
for i in test:
  print(i)

1
2
2
3

리스트, 튜플 간의 변환은 list(), tuple()함수를 써서 왔다갔다

tuple은 immutable하기 때문에 한번 생성 후에 고려할 것이 별로 없다. light하다. 빠르다. 수정할 일이 없으면 tuple을 쓰는 것이 좋다. 수정하면 안 되는 경우 보호해준다. tuple은 딕셔너리의 key로 쓸 수 있다.

list는 heavy하다.

set은 unorderd collection이다. unique하다. 겉 기호는 {}, dictionary와 같지만 key value가 없다.

In [ ]:
s = set("Hello")
print(s)    #unique

{'l', 'o', 'H', 'e'}

In [ ]:
s[0]    #순서가 없어서 에러남

TypeError: ignored

In [ ]:
s = {1,2,3,4,5,6,777,7,7,7,7,7}
s    #unique

{1, 2, 3, 4, 5, 6, 7, 777}

tuple처럼 리스트와 왔다갔다

set()

list()

합집합, 교집합, 차집합 가능

각각 |, &, - 이용

In [ ]:
a = {1,2,3,4}
b = {3,4,5,6}

print(a|b)
print(a&b)
print(a-b)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [12]:
a = {1,2,3,4,5}
b = {1,2,3}
b.issubset(a)

True

## Dictionary 아주 유용한 데이터타입
key/value pair collection

key는 unique하다. 같으면 뒤에것이 앞에것을 덮어쓴다.

In [13]:
country = {'Korea':'Seoul', 'a':'b', 'c':'d', 'c':'f'}  #c에 해당하는 건 f
print(country)

{'Korea': 'Seoul', 'a': 'b', 'c': 'f'}

key에 접근할 때는 []

In [ ]:
country['Korea']

'Seoul'

In [ ]:
country.get('Korea')    #get함수

'Seoul'

### key에 접근할 때 에러 안 나게 하려면 get함수

[]써서 없는데 접근하면 keyerror

get('e','f')
없으면 'f'반환, 즉 default값으로 만들어 줌

In [21]:
country['Usa']

KeyError: ignored

In [20]:
country.get('Usa', "Washington")  #쉼표 뒤 반환, 본 딕셔너리에는 영향 없음

'Washington'

In [25]:
country.get('a', "Washington")   #key가 존재하지 않을 때만 뒤에것(default값) 반환

'b'

In [17]:
country

{'Korea': 'Seoul', 'a': 'b', 'c': 'f'}

In [ ]:
ch = {}
for i in 'banana':
  ch[i] = ch.get(i,0) + 1

print(ch)   #글자수세기 가능

{'b': 1, 'a': 3, 'n': 2}

In [ ]:
for i in 'banana':    #dic.get안 쓰고 countng하려고 하면 길어진다
  a=b=c=0
  if i == 'b':
  pass

# Nested dictionary
value내에 dictionarty가 들어 있는

내에 있는 걸 가져오고 싶으면 [겉key][안key]


# mutable하다
change/add/remove모두 가능

리스트에서 key가 인덱스처럼, pop()함수에서 내에 인덱스 넣는것처럼 key를 넣음

In [2]:
a = {1: {1:2,2:3}, 2:{4:5,6:7}}
print(a[1][1])
print(a[2][6])

2
7

In [3]:
a.values()

dict_values([{1: 2, 2: 3}, {4: 5, 6: 7}])

In [4]:
a.keys()

dict_keys([1, 2])

In [5]:
a.items()

dict_items([(1, {1: 2, 2: 3}), (2, {4: 5, 6: 7})])

In [1]:
sh['a']='d'
print(sh)

NameError: ignored

# comprehension

In [ ]:
squres = [x**2 for x in range(10)]
print(squres)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
matrix = [[i for i in range(5)] for _ in range(6)]
matrix

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [10]:
mat = [[i+1 for i in range(6)] for _ in range(6)]
mat

[[1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6]]

list = [expression for member in literable if condition]

set = {expression for member in literable if condition}

dic = {key:value for member in literable if condition}

In [ ]:
com = [(x,y) for x in [1,2,3] for y in [3,1,4] if x != y]
com

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [12]:
co = [(a,b) for a in [1,2,3] for b in [2,3,4] if a != b]
co

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 2), (3, 4)]

In [ ]:
combs = []
for x in [1,2,3]:
  for y in [3,1,4]:
    if x != y:
      combs.append((x,y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [13]:
old = [1,1,2,3,4]
mew = {x**2 for x in old }
mew

{1, 4, 9, 16}

In [17]:
def odd(val):
  return val % 2 == 1

dd = {i:i**2 for i in range(10) if odd(i)}
dd

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [19]:
id_name = {1:'a', 2:'b', 3:'c', 'c':'c'}  #key와 value 뒤집기
name_id = {val:key for key,val in id_name.items()}
name_id

{'a': 1, 'b': 2, 'c': 'c'}

In [ ]:
#dic key와 value뒤집어 저장하기
#기존 value중 겹치는 것이 있었으면 앞key가 덮어써진다.

### comprehensinon내 comprehension
dic 내에 list,set, dic이 들어가 있음

# Summery

## mutable vs. immutable
함수 내에서 변경되는 것과 관련이 있음

mutble하면 함수 내에서 변경된 것이 밖에서도 연동

immutable하면 함수 내에서 변경된 것이 밖에서는 상관없음