<a href="https://colab.research.google.com/github/munmoom/second_semester/blob/main/9_19%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
int(float('123')) #문자열을 정수형, 실수형으로

123

In [2]:
int('Pleasure')  #letter를 정수형으로 바꿀 순 없다

ValueError: ignored

In [14]:
nine = input('nine is ')

nine is 8.

In [20]:
id(nine)

139943753031280

In [37]:
b = '8.'      #nine과 같은데도 주소가 다르다. 실행할 때마다 계속 달라진다.(왜?)
print(id(b))
print(type(b))

139943752735920
<class 'str'>

In [22]:
c = nine
print(c)
print(id(c))
print(type(c))

8.
139943753031280
<class 'str'>

In [30]:
a = 1
print(id(1))

11122592

In [38]:
a = 1
b = a                #둘의 id는 같다
print(id(a), id(b))

11122592 11122592

In [43]:
a = 2
print(a,b)
print(id(a), id(b))  #a의 id는 바뀌었다

2 1
11122624 11122592

In [42]:
[1,2,3]+[4,5,6,1,2,3]   #리스트끼리 더하면 합쳐진다

[1, 2, 3, 4, 5, 6, 1, 2, 3]

In [61]:
[1,2,3]*3   #리스트에 *면 횟수만큼 반복한다

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [44]:
a = [1,2,3]
b = a                # 둘의 id는 같다
print(id(a), id(b))

139943752557744 139943752557744

a와 b는 리스트를 가리키고 있고, 리스트 내의 인덱스가 원소를 가리키고 있으므로 인덱스가 가리키는 원소를 바꿨다고 a와 b가 가리키는 주소가 바뀌지는 않는다

In [45]:
a[0] = 5   #리스트 내 원소를 바꿨다
print(a,b)
print(id(a), id(b))   # 리스트의 id는 바뀌지 않았다

[5, 2, 3] [5, 2, 3]
139943752557744 139943752557744

In [46]:
a = 'hello'
b = ['hello', 'python']
print(id(a), id(b[0]), id(b))   #앞의 두 개는 같고 뒤의 하나는 다르다

139943965817392 139943965817392 139943752358480

In [47]:
b[0] = 5
print(a,b)
print(id(a), id(b))

hello [5, 'python']
139943965817392 139943752358480

In [48]:
a = 1
print(id(a))

11122592

In [49]:
a = b = c = 1  #python에서만 가능
print(id(a), id(b), id(c))

11122592 11122592 11122592

In [55]:
a, b = 1, 2
print(id(a), id(b))

11122592 11122624

In [52]:
print(id(2))

11122624

In [56]:
a, b = b, a   #자리바꿈
print(a, b)
print(id(a), id(b))

2 1
11122624 11122592

In [58]:
'nine '*9   #문자열에 *면 횟수만큼 반복한다

'nine nine nine nine nine nine nine nine nine '

In [59]:
1 + 2*7

15

In [60]:
'Hello' + ' ' + 'World'   #문자열에 +면 붙여쓴다

'Hello World'