<a href="https://colab.research.google.com/github/munmoom/second_semester/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

판다스는 파이썬으로 된 프로그래밍 언어로 데이터 조작, 분석에 유용

설치

conda install pandas

pip install pandas

주피터노트북 상에서는 앞에 !붙여서

판다스는 tabular하고 heterogeneous data를 다루기 위해 나온 것.

각 column의 데이터 형태가 달라도 상관없다.
(NumPy와 다른 점이다.)

Series와 DataFrame데이터타입이 있다.



```
import pandas as pd
pd.Series
pd.DataFrame
```

## Pandas DataFrame

### Series는
 1차원 데이터이고 실제 값이 매핑된 인덱스를 가지고 있다. 1차원 배열과 유사한 객체

 일련의 값들을 담고 있고, 인덱스에 해당하는 부분과 값들이 존재하는 부분이 있다.

### DataFrame은
 2차원 데이터이고, Series가 여러 개의 컬럼을 형성하고 있는 형태이다. 컬럼은 인덱스를 공유하고 있다.(테이블 형태의 데이터)

시리즈들을 한번에 모아서 데이터프레임을 만든다. 시리즈들은 컬럼이 된다. 인덱스는 공유한다.

각각의 컬럼을 시리즈로 보면 된다.

In [1]:
import pandas as pd

### 리스트로 시리즈 생성

In [2]:
obj = pd.Series([4,7,-5,3])
obj  #변수명

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
obj.values   #array는 NumPy의 array

array([ 4,  7, -5,  3])

In [4]:
obj.index   #또다른 객체인 RangeIndex, 4전까지.

RangeIndex(start=0, stop=4, step=1)

### 시리즈를 다르게 생각
dic처럼 key와 value의 쌍: dictionary로 생성

In [7]:
 sdata = {'Ohio':350, 'Texas':710, 'Oregon': 160}   #dictionary
 obj3 = pd.Series(sdata)
 obj3

Ohio      350
Texas     710
Oregon    160
dtype: int64

In [9]:
obj3['Ohio'] = 200
'''
값을 변경, dictionary에서 하듯 index(또는 key)를 넣어서 Series에서도 값 변경 가능함
'''
obj3

Ohio      200
Texas     710
Oregon    160
dtype: int64

### 테이터프레임은 사각형의 테이블 데이터
각각의 컬럼들은 다른 타입일 수 있다.
row와 column index를 가진 tablar형태이다.

같은 index를 공유하는 시리즈로 이루어진 딕셔너리로 볼 수 있다.

In [12]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada'], #value가 리스트
        'year': [2000,2001,2002,2001],
        'pop': [1.5,1.7,3.6,2.4]}
#value가 여러 개로 리스트로 형성되어 있을 때 DataFrame을 만들 수 있다.

In [13]:
frame = pd.DataFrame(data)
frame   #별도의 인덱스 지정하지 않아서 0,1,2,3으로 나옴
#세로형태 column으로 값이 나옴

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4

In [14]:
frame.values  #4by3

array([['Ohio', 2000, 1.5],
       ['Ohio', 2001, 1.7],
       ['Ohio', 2002, 3.6],
       ['Nevada', 2001, 2.4]], dtype=object)

In [15]:
frame.index

RangeIndex(start=0, stop=4, step=1)

In [16]:
frame.columns  #Series엔 없는
#column name에 해당하는 부분

Index(['state', 'year', 'pop'], dtype='object')

In [35]:
'state' in frame.columns  #row도 column도 인덱스

True

### head라는 method:
 굉장히 큰 데이타프레임의 경우 첫 다섯 개의 행만 확인할 수 있다.

In [17]:
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4

### column retrieval:
 특정 컬럼의 값만 뽑아보고 싶을 때.

In [19]:
frame['state']  #특정 컬럼의 값만 보고 싶을 때

0      Ohio
1      Ohio
2      Ohio
3    Nevada
Name: state, dtype: object

In [20]:
frame.state  #위와 동일한 결과

0      Ohio
1      Ohio
2      Ohio
3    Nevada
Name: state, dtype: object

In [21]:
frame.year

0    2000
1    2001
2    2002
3    2001
Name: year, dtype: int64

### column modification:
 값을 변경하거나 새로운 컬럼을 만든다.

In [22]:
frame['dept'] = 16.5   #새 컬럼 추가, 값은 모두 16.5
frame

    state  year  pop  dept
0    Ohio  2000  1.5  16.5
1    Ohio  2001  1.7  16.5
2    Ohio  2002  3.6  16.5
3  Nevada  2001  2.4  16.5

### 인덱스는 축에 대한 labels


```
pd.Index()
```

In [24]:
obj = pd.Series(range(3), index = ['a','b','c'])   #값은 0, 1, 2
index = obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [28]:
obj

a    0
b    1
c    2
dtype: int64

dictionary의 인덱스는 immutable하다. 마찬가지로 pandas의 인덱스도 immutable하다.

In [26]:
index[1] = 'd'  #immutable하다, TypeError

TypeError: ignored

In [32]:
import numpy as np

In [33]:
labels = pd.Index(np.arange(3))
labels

Int64Index([0, 1, 2], dtype='int64')

In [34]:
obj2 = pd.Series([1.5,-2.5,0], index = labels) #value, index
obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [37]:
#값을 먼저 생성하고 인덱스에 대한 것 전체를 assignment로 넣어줘도 된다
obj = pd.Series(np.arange(4))
obj.index = ['a','b','c','d']
obj

a    0
b    1
c    2
d    3
dtype: int64

In [41]:
data = pd.DataFrame(np.arange(16).reshape(4,4),   #4by4
                    index = ['Ohio', 'Colorado', 'Utah', 'NewYork'],
                    columns=['one', 'tow','three','four'])
data
#numpy로 생성해서 reshape하면
#왼쪽에서 오른쪽으로, 위에서 아래로의 순서로 값이 들어감

          one  tow  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
NewYork    12   13     14    15