<a href="https://colab.research.google.com/github/munmoom/second_semester/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

판다스는 파이썬으로 된 프로그래밍 언어로 데이터 조작, 분석에 유용

설치

conda install pandas

pip install pandas

주피터노트북 상에서는 앞에 !붙여서

판다스는 tabular하고 heterogeneous data를 다루기 위해 나온 것.

각 column의 데이터 형태가 달라도 상관없다.
(NumPy와 다른 점이다.homogeneous한 숫자형 데이터타입에 강한 넘파이)

Series와 DataFrame데이터타입이 있다.



```
import pandas as pd
pd.Series
pd.DataFrame
```

## Pandas DataFrame

### Series는
 1차원 데이터이고 실제 값이 매핑된 인덱스를 가지고 있다. 1차원 배열과 유사한 객체

 일련의 값들을 담고 있고, 인덱스에 해당하는 부분과 값들이 존재하는 부분이 있다.

### DataFrame은
 2차원 데이터이고, Series가 여러 개의 컬럼을 형성하고 있는 형태이다. 컬럼은 인덱스를 공유하고 있다.(테이블 형태의 데이터)

시리즈들을 한번에 모아서 데이터프레임을 만든다. 시리즈들은 컬럼이 된다. 인덱스는 공유한다.

각각의 컬럼을 시리즈로 보면 된다.

In [4]:
import pandas as pd

### 리스트로 시리즈 생성

In [9]:
a = pd.Series(['가','나',1,2])
a

0    가
1    나
2    1
3    2
dtype: object

In [5]:
obj = pd.Series([4,7,-5,3])   #앞에 나오는건 인덱스
obj  #변수명

0    4
1    7
2   -5
3    3
dtype: int64

In [6]:
obj.values   #array는 NumPy의 array

array([ 4,  7, -5,  3])

In [7]:
type(obj.values)

numpy.ndarray

In [ ]:
obj.index   #또다른 객체인 RangeIndex, 4전까지.(4안 들어감)

RangeIndex(start=0, stop=4, step=1)

### 시리즈를 다르게 생각
dic처럼 key와 value의 쌍: dictionary로 생성

In [10]:
 sdata = {'Ohio':350, 'Texas':710, 'Oregon': 160}   #dictionary
 obj3 = pd.Series(sdata)
 obj3

Ohio      350
Texas     710
Oregon    160
dtype: int64

In [11]:
obj3['Ohio'] = 200
'''
값을 변경, dictionary에서 하듯 index(또는 key)를 넣어서 Series에서도 값 변경 가능함
'''
obj3

Ohio      200
Texas     710
Oregon    160
dtype: int64

In [13]:
obj3.index

Index(['Ohio', 'Texas', 'Oregon'], dtype='object')

### 테이터프레임은 사각형의 테이블 데이터
각각의 컬럼들은 다른 타입일 수 있다.
row와 column index를 가진 tablar형태이다.

같은 index를 공유하는 시리즈로 이루어진 딕셔너리로 볼 수 있다.

In [39]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada'], #value가 리스트
        'year': [2000,2001,2002,2001],
        'pop': [1.5,1.7,3.6,2.4]}
#value가 여러 개로 리스트로 형성되어 있을 때 DataFrame을 만들 수 있다.

In [40]:
frame = pd.DataFrame(data)
frame   #별도의 인덱스 지정하지 않아서 0,1,2,3으로 나옴
#세로형태 column으로 값이 나옴, key가 column이름

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4

In [16]:
frame.values  #4by3

array([['Ohio', 2000, 1.5],
       ['Ohio', 2001, 1.7],
       ['Ohio', 2002, 3.6],
       ['Nevada', 2001, 2.4]], dtype=object)

In [17]:
frame.index

RangeIndex(start=0, stop=4, step=1)

In [18]:
frame.columns  #Series엔 없는
#column name에 해당하는 부분

Index(['state', 'year', 'pop'], dtype='object')

In [19]:
'state' in frame.columns  #row도 column도 인덱스

True

### head라는 method:
 굉장히 큰 데이타프레임의 경우 첫 다섯 개의 행만 확인할 수 있다.

In [20]:
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4

### column retrieval:
 특정 컬럼의 값만 뽑아보고 싶을 때.

In [21]:
frame['state']  #특정 컬럼의 값만 보고 싶을 때

0      Ohio
1      Ohio
2      Ohio
3    Nevada
Name: state, dtype: object

In [22]:
frame.state  #위와 동일한 결과

0      Ohio
1      Ohio
2      Ohio
3    Nevada
Name: state, dtype: object

In [23]:
frame.year

0    2000
1    2001
2    2002
3    2001
Name: year, dtype: int64

### column modification:
 값을 변경하거나 새로운 컬럼을 만든다.

In [34]:
frame['dept'] = 16.5   #새 컬럼 추가, 값은 모두 16.5
frame

    state  year  pop  dept
0    Ohio  2000  1.5  16.5
1    Ohio  2001  1.7  16.5
2    Ohio  2002  3.6  16.5
3  Nevada  2001  2.4  16.5

In [41]:
frame['dept'] = (16.5,15,12,11)
frame

    state  year  pop  dept
0    Ohio  2000  1.5  16.5
1    Ohio  2001  1.7  15.0
2    Ohio  2002  3.6  12.0
3  Nevada  2001  2.4  11.0

In [38]:
frame['dept'] = 16.5,15,12,11
frame

    state  year  pop  dept
0    Ohio  2000  1.5  16.5
1    Ohio  2001  1.7  15.0
2    Ohio  2002  3.6  12.0
3  Nevada  2001  2.4  11.0

### 인덱스는 축에 대한 labels


```
pd.Index()
```

In [ ]:
obj = pd.Series(range(3), index = ['a','b','c'])   #값은 0, 1, 2
index = obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [ ]:
obj

a    0
b    1
c    2
dtype: int64

dictionary의 인덱스는 immutable하다. 마찬가지로 pandas의 인덱스도 immutable하다.


index onject는 부분적으로 변경이 불가능하다.
immutable

In [ ]:
index[1] = 'd'  #immutable하다, TypeError

TypeError: ignored

In [ ]:
import numpy as np

In [ ]:
labels = pd.Index(np.arange(3))
labels

Int64Index([0, 1, 2], dtype='int64')

In [ ]:
obj2 = pd.Series([1.5,-2.5,0], index = labels) #value, index
obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [ ]:
#값을 먼저 생성하고 인덱스에 대한 것 전체를 assignment로 넣어줘도 된다
obj = pd.Series(np.arange(4))
obj.index = ['a','b','c','d']
obj

a    0
b    1
c    2
d    3
dtype: int64

In [ ]:
data = pd.DataFrame(np.arange(16).reshape(4,4),   #4by4
                    index = ['Ohio', 'Colorado', 'Utah', 'NewYork'],
                    columns=['one', 'two','three','four'])
data
#numpy로 생성해서 reshape하면
#왼쪽에서 오른쪽으로, 위에서 아래로의 순서로 값이 들어감

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
NewYork    12   13     14    15

## pandas에서 필수적인 기능들
indexing, selection, filtering

### 특정 컬럼들만 뽑아와서 만들거나
### 특정 row들만 뽑아와서 만들거나
### 특정 컬럼과 row에 해당하는 부분들만 뽑아와서 만들거나

### Series indexing

In [ ]:
obj = pd.Series(np.arange(4.), index = ['a','b','c','d'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [ ]:
obj['b']

1.0

In [ ]:
obj[1]  #수치적 인덱스의 개념에서는 1번 인덱스와 동일함

1.0

In [ ]:
obj[2:4]

c    2.0
d    3.0
dtype: float64

## DataFrame indexing
column과 row가 존재
### 컬럼은 single vlaue or sequence
### row는 slicing or a boolean array

In [ ]:
#위에서 만들었던 data
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
NewYork    12   13     14    15

In [ ]:
data[['three','one']]   #여러개 지칭하니까 리스트로
#copy가 아니라 단지 view일 뿐이다
#변경은 없음

          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
NewYork      14   12

In [ ]:
data[:2]   #slicing이므로 row

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

In [ ]:
data[data['three']>5]   #Boolean array, 위에서부터 F,T,T,T, T인 row만 출력

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
NewYork    12   13     14    15

### operator loc and iloc
location과 integerlocation

순서대로 row와 column을 지칭

loc은 axis labels를 이용하고, iloc은 integer index를 이용한다.(둘의 차이)

iloc[:,:], iloc[:,1], iloc[2,:], iloc[2,1]

In [ ]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
NewYork    12   13     14    15

In [ ]:
data.loc['Colorado',['two', 'three']]

two      5
three    6
Name: Colorado, dtype: int64

In [ ]:
data.iloc[2,[3,0,1 ]]

four    11
one      8
two      9
Name: Utah, dtype: int64

### loc vs. iloc
loc: 행, 열 이름을 이용

iloc: 정수를 이용

끝을 지칭할 때 다른 점이 있다.

# 주의!
## loc은 끝을 포함하고 iloc은 끝을 포함하지 않는다. iloc이 기존의 개념과 동일, loc은 다르다

In [ ]:
df = pd.DataFrame(np.arange(12).reshape(3,4),
                    columns=['a','b','c','d'])
df

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
df.iloc[1:,2:]

    c   d
1   6   7
2  10  11

In [ ]:
df.iloc[[1,2],[2,3]]

    c   d
1   6   7
2  10  11

In [ ]:
df.loc[[1,2],['c','d']]  #이름도 integerindex도 0,1,2로 동일하다

    c   d
1   6   7
2  10  11

In [ ]:
#아래와 비교! iloc

df.iloc[1:2,2:3]  #여태껏 해왔던 슬라이싱과 동일, 2앞까지, 3앞까지

   c
1  6

In [ ]:
#위와 비교! loc유의!

df.loc[1:2,'c':'d']   #다르다, 2도 포함, 'd'도 포함

    c   d
1   6   7
2  10  11

## drop
 특정 axis(row of column) 제외

 특정 축으로부터 값들이 제거된 object


### 특정 축의 값이 제외된 새로운 object return
(기존 데이터는 변경 없이 유지됨)

### 기존 데이터 자체를 수정하고 싶으면 inplace=True를 넣어준다
obj.drop('b',inplace=True)


### 기본값 axis = 0 (row)
column으로 하려면 axis = 1로 변경

In [ ]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
NewYork    12   13     14    15

In [ ]:
data.drop(['Colorado', 'Ohio'])

         one  two  three  four
Utah       8    9     10    11
NewYork   12   13     14    15

In [ ]:
data   #수정되지 않았음

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
NewYork    12   13     14    15

In [ ]:
data.drop('two', axis = 1)

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
NewYork    12     14    15

In [ ]:
data   #변경되지 않았음

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
NewYork    12   13     14    15

In [ ]:
data.drop(['Colorado', 'Ohio'], inplace = True)   #기존 데이터 변경하기

In [ ]:
data   #변경됨

         one  two  three  four
Utah       8    9     10    11
NewYork   12   13     14    15

## Sorting
index or value를 가지고

sort_index: 새로운 sorted object를 return
(row or column의 index)

In [44]:
import numpy as np


frame = pd.DataFrame(np.arange(8).reshape((2,4)),
                     index=['three','one'],
                    columns=['d','a','b','c'])
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [ ]:
frame.sort_index()   #default로는 row index(row이름), axis=0

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [ ]:
frame.sort_index(axis=1)   #column이름

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [ ]:
frame.sort_index(axis=1, ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

sort_values: 값을 기준으로 sorting, 특정 시리즈를 값을 기준으로 sort

In [ ]:
obj = pd.Series([4,7,-3,2])
obj.sort_values()   #인덱스 값에 따라 바뀜, 1차원이라 바로 값을 기준으로 sorting

2   -3
3    2
0    4
1    7
dtype: int64

In [ ]:
frame = pd.DataFrame({'b':[4,7,-3], 'a':[0,1,0]})
frame.sort_values(by='b')   #b컬럼 기준으로 sort하겠다

   b  a
2 -3  0
0  4  0
1  7  1

## Ranking
가능한 범위 내에서 등수를 assign하겠다

동률일 경우: average, min, max, first, dense

순서를 반대로: ascending=False

In [45]:
obj = pd.Series([7,-5,7,4,2,0,4])

In [46]:
obj.rank(method='first') #앞에 나온 걸 먼저

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

## NumPy ufuncs:
 element-wise로 적용되던 여러가지 function들을 pandas에서도 그대로 적용

In [ ]:
frame

   b  a
0  4  0
1  7  1
2 -3  0

In [ ]:
np.abs(frame)   #절댓값 취함

   b  a
0  4  0
1  7  1
2  3  0

# Summary

# Quiz

In [ ]:
type(frame['state'])

pandas.core.series.Series

In [ ]:
pd.DataFrame({"a" : [4 ,5, 6],
              "b" : [7, 8, 9],
              "c" : [10, 11, 12]})

   a  b   c
0  4  7  10
1  5  8  11
2  6  9  12

In [ ]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4

In [ ]:
frame[['state', 'year']]

    state  year
0    Ohio  2000
1    Ohio  2001
2    Ohio  2002
3  Nevada  2001

In [ ]:
df = pd.DataFrame(np.arange(12).reshape(3,4))
df.drop([1,2])
print(df.shape)

(3, 4)

In [ ]:
df = pd.DataFrame({"Age" : [22.0,38.0,26.0,35.0,35.0],
                    "Cabin" : ['NaN', 'C85', 'NaN', 'C123', 'NaN'],
                    "Embarked" : ['S','C','S','S','S'],
                    "Fare" : [7.2500, 71.2833, 7.9250,53.1000,8.0500]})
df

    Age Cabin Embarked     Fare
0  22.0   NaN        S   7.2500
1  38.0   C85        C  71.2833
2  26.0   NaN        S   7.9250
3  35.0  C123        S  53.1000
4  35.0   NaN        S   8.0500

In [ ]:
df.sort_values(by='Age',inplace=True)

In [ ]:
df

    Age Cabin Embarked     Fare
0  22.0   NaN        S   7.2500
2  26.0   NaN        S   7.9250
3  35.0  C123        S  53.1000
4  35.0   NaN        S   8.0500
1  38.0   C85        C  71.2833